<div class="container text-center mt-5">
  <div class="paginacion">
    <a routerLinkActive="active"><i class="fa-solid fa-chevron-left"></i></a>
    <a class="active" routerLinkActive="active">1</a>
    <a routerLinkActive="active">2</a>
    <a routerLinkActive="active">3</a>
    <a routerLinkActive="active">4</a>
    <a routerLinkActive="active">5</a>
    <a routerLinkActive="active">6</a>
    <a routerLinkActive="active">7</a>
    <a routerLinkActive="active">8</a>
    <a routerLinkActive="active">9</a>
    <a routerLinkActive="active">10</a>
    <a routerLinkActive="active"><i class="fa-solid fa-chevron-right"></i></a>
  </div>
</div>
